<h1>Integrantes del grupo</h1>

<div class="flex-container">
  <div class="flex">
    <div class="tarjeta">
      <img
        src="../../../assets/images/pamela.JPG"
        alt="foto de pamela"
        style="width: 100%"
      />
      <div class="tarjeta-contenido">
        <h4><b>Pamela Soucre</b></h4>
        <p>
          Estudiante del IFTS11. Trabajo en IT en el área de seguridad de la
          información.
        </p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="tarjeta">
      <img
        src="../../../assets/images/test1.png"
        alt="foto de pamela"
        style="width: 100%"
      />
      <div class="tarjeta-contenido">
        <h4><b>Integrante</b></h4>
        <p>Info sobre el integrante</p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="tarjeta">
      <img
        src="../../../assets/images/test2.png"
        alt="foto de pamela"
        style="width: 100%"
      />
      <div class="tarjeta-contenido">
        <h4><b>Integrante</b></h4>
        <p>Info sobre el integrante</p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="tarjeta">
      <img
        src="../../../assets/images/test3.jpg"
        alt="foto de pamela"
        style="width: 100%"
      />
      <div class="tarjeta-contenido">
        <h4><b>Integrante</b></h4>
        <p>Info sobre el integrante</p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="tarjeta">
      <img
        src="../../../assets/images/test4.jpg"
        alt="foto de pamela"
        style="width: 100%"
      />
      <div class="tarjeta-contenido">
        <h4><b>Integrante</b></h4>
        <p>Info sobre el integrante</p>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 10px">
  <button routerLink="/" type="button" class="btn btn-secondary">Volver</button>
</div>
