<h1>Integrantes del grupo</h1>

<div class="flex-container">
  <div class="flex">
    <div class="tarjeta">
      <a href="https://www.linkedin.com/in/pamela-soucre/" target="_blank">
      <img
        src="../../../assets/images/pame qr.jpg"
        alt="foto de pamela"
        
      />
    </a>
      <div class="tarjeta-contenido">
        
        <p>
          Hola! Soy Pame. Me gusta el arrrrrrrte, todo tipo de arte (meme antiguo, perdón). Trabajo en una parte "no técnica" de tecnología: políticas y concientización de seguridad de la información.
Lo primero que intenté hacer cuando me interesó el desarrollo fue Frontend. Tendría que volver a ver esos primeros ejercicios de hace unos 3-4 años por lo menos XD
        </p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="tarjeta">
      <a href="https://www.linkedin.com/in/pablo-ariel-blanco-cuevas-215155182/" target="_blank">
      <img
        src="../../../assets/images/pablo qr.jpg"
        alt="foto de pablo"
        
      />
    </a>
      <div class="tarjeta-contenido">
        
        <p>Buenas, trabajo como Analista Programador en Mainframe. Estoy interesado en incrementar mi stack tecnológico, no soy bueno con el front (combinar colores, etc), me gusta mas el back. Tuvimos un acercamiento en la materia Desarrollo de Aplicaciones Mobiles pero me gustaría reforzar el conocimiento que tuvimos ahi.</p>
      </div>
    </div>
  </div>
</div>
  
  <div class="flex">
    <div class="tarjeta">
      <a href="https://www.linkedin.com/in/domenico-franco-061a2022b/" target="_blank">
      <img 
        src="../../../assets/images/dome qr.jpg"
        alt="foto de domenico"
       
      />
    </a>
      <div class="tarjeta-contenido">
      
        <p> Me apasiona el desarrollo de software y siempre estoy en busca de nuevos desafíos para seguir mejorando. Estoy emocionado de estar aquí en esta materia de programación y espero poder contribuir con mis conocimientos y aprender mucho más en el proceso.</p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="tarjeta">
      <a href="https://www.linkedin.com/in/ariel-ledezma-53a111203/" target="_blank">
      <img
        src="../../../assets/images/ari qr.jpg"
        alt="foto de ariel"
        
      />
    </a>
      <div class="tarjeta-contenido">
       
        <p>Buenas tardes/noches, me interesa el sector It porque me gustan los jueguitos, tengo conocimientos basicos, de todo un poco. Simplemente empezando todo de nuevo!
          Estoy laburando como soporte técnico. </p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="tarjeta">
      <a href="https://www.linkedin.com/in/miguel-nina-aa4b69281?trk=contact-info" target="_blank">
      <img
        src="../../../assets/images/migue qr.jpg"
        alt="foto de miguel"
        
      />
    </a>
      <div class="tarjeta-contenido">
        
        <p>Hola! Mi nombre es Miguel Nina, soy un entusiasta de la tecnologia. Actualmente estoy estudiando para la licenciatura en Sistemas de la informacion y la Tecnicatura Superior en Desarollo de Software.</p>
      </div>
    </div>
  </div>

<div style="margin-top: 20px; margin-bottom: 20px;">
  <button routerLink="/lista-destino" type="button" class="btn btn-secondary" style="background-color: #9abdeb;">Volver</button>
</div>
