<div class="container">
  <div class="flex">


<h1>Next Trip</h1>
<p>Este CRUD es el proyecto final de las materias de desarrollo backend y frontend del IFTS 11.</p>
<p>Permite agregar, ver,  modificar y eliminar registros para una aplicación de destinos turísticos.</p>
<p>En la tabla se muestran los destinos registrados actualmente.</p>


    <h2>Destinos</h2>
    <button type="button" class="btn btn-primary btn-lg" routerLink="/add">
      Agregar destino
    </button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Estacion</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cant. Actividades</th>
        <th scope="col">Cant. Eventos</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let dest of listDestinos">
        <td scope="row" *ngIf="dest.estacion==1">Verano</td>
        <td scope="row" *ngIf="dest.estacion==2">Otoño</td>
        <td scope="row" *ngIf="dest.estacion==3">Invierno</td>
        <td scope="row" *ngIf="dest.estacion==4">Primavera</td>
        <th>{{dest.nombre}}</th>
        <td>{{dest.descripcion}}</td>
        <td>{{dest.actividades.length}}</td>
        <td>{{dest.eventos.length}}</td>
        <td>
          <button [routerLink]="['/add',dest._id]" type="button" class="btn btn-info">Edit</button>
          <button (click)="eliminarDestino(dest._id)" id="delete" type="button" class="btn btn-danger">Delete</button>
          <button (click)="irActividades(dest)" type="button" class="btn btn-info">Ver Actividades</button>
          <button (click)="irEventos(dest)" type="button" class="btn btn-info">Ver Eventos</button>
        </td>
      </tr>
    </tbody>
  </table>

    <button type="button" class="btn btn-outline-info" routerLink="/integrantes">
      Ver integrantes del grupo
    </button>
  

</div>