<div class="container">
    <h1>Nuevo destino</h1>
    <!-- <form [formGroup]="destinoForm" (ngSubmit)='agregarDestino()'> -->
        <form [formGroup]="destinoForm">
      <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">Ingrese el nombre del destino</label>
        <input
          formControlName="nombre"
          type="text" 
          class="form-control" 
          placeholder="Nombre" 
          id="inputDefault">
      </div>

      <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">Ingrese la descripcion del destino</label>
        <input
          formControlName="descripcion"
          type="text" 
          class="form-control" 
          placeholder="Descripcion" 
          id="inputDefault">
      </div>

      <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">Ingrese código de la estación</label>
        <input
          formControlName="estacion"
          type="number" 
          class="form-control" 
          placeholder="1=Verano --- 2=Otoño --- 3=Invierno --- 4=Primavera" 
          id="inputDefault">
      </div>

      <div style="margin-top: 10px;">
        <button (click)="agregarDestino()" type="submit" class="btn btn-primary">Agregar destino</button>
        <button style="margin-left: 5px;" routerLink="/" type="button" class="btn btn-secondary">Volver</button>
      </div>

  </form>
  </div>