<div class="container">
    <h1>Nuevo producto</h1>
  
    <!-- <form [formGroup]="destinoForm" (ngSubmit)='agregarDestino()'> -->
    <form>
  
      <input
        formControlName="name"
        style="margin-top: 15px"
        type="text"
        class="form-control"
        placeholder="ingrese nombre"
      />
      <input
        formControlName="description"
        style="margin-top: 15px"
        type="text"
        class="form-control"
        placeholder="ingrese descripcion"
      />
      <input
        formControlName="price"
        style="margin-top: 15px"
        type="number"
        class="form-control"
        placeholder="ingrese precio"
      />
      <input
        formControlName="stock"
        style="margin-top: 15px"
        type="number"
        class="form-control"
        placeholder="ingrese stock"
      />
  
      <div style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Agregar producto</button>
        <button style="margin-left: 5px;" routerLink="/" type="button" class="btn btn-secondary">Volver</button>
      </div>
  
    </form>
    
  </div>
  