<div class="container">
    <div class="flex">
      <h2>Actividades</h2>
      <br>
      
    </div>
      <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Categoria</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active" *ngFor="let act of destino.actividades">
          <th>{{act.nombre}}</th>
          <td>{{act.descripcion}}</td>
          <td>{{act.categoria}}</td>
          <td>
            <button (click)="editarActividad(act)" type="button" class="btn btn-info">Editar</button>
            <button (click)="eliminarActividad(act)" type="button" class="btn btn-info">Eliminar</button>
          </td>
      </tbody>
    </table>
    <button (click)="agregarActividad()" type="button" style="background-color: #9abdeb;"class="btn btn-secondary">
      Agregar actividad
    </button>
    <button routerLink="/lista-destino" type="button" class="btn btn-secondary">Volver</button>
  </div>