<div class="contenedor">
    <div class="body">
        <!-- inicio de sesion -->
        <div>
            <div class="header">
                <img class="logo" src="../../../assets/images/login.png" alt="img login">
                <h2>Recuperar Contraseña</h2>

            </div>
            <form (ngSubmit)="recuperar()" [formGroup]="recuperarUsuario">
                <div class="form">
                    <input type="email" formControlName="email" name="email" placeholder="Email">

                </div>
                <p><a href="/login">Volver</a></p>
                <button type="submit" class="btn">Recuperar</button>
            </form>
        </div>

    </div>
</div>