.wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.logoNext{
    margin-bottom: -60px;
    margin-top: -60px;
    width: 350px;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;    
    
    height: 100%;
    height: 100vh;
    box-shadow: 1px 10px 25px rgba(0,0,0,0.5);

}


.body{
    margin: auto;
    width: 100%;
    max-width: 330px;
    text-align: center;
    
    box-shadow: 1px 10px 25px rgb(0 0 0 / 0.2);
    border-radius: 2px;
    cursor: default;
    transition: all 400ms ease;
}
.body:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.form input{
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
 
}


.forgot-password{
    cursor: pointer;
    margin: 10px 0 ;
}
.forgot-password a{
    text-decoration: none;
    color: black;
}

.btn{
	
	width: 50%;
    height: 40px;
    border-radius: 25px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #d9e3f1,#d5e4f8, #bed4f3);
    font-size: 1.2rem;
    color: #8997c0;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
}
.btn:hover{
	background-position: right;
    color: #707070;
}